<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Meu Blog Incrível com Flask</title>
</head>
<body class="bg-gray-100 text-gray-800">
    <div class="container mx-auto p-4 max-w-2xl">
        <h1 class="text-4xl font-bold mb-6 text-center">Bem-vindo ao Meu Blog!</h1>
        <p class="mb-8 text-center text-lg">Estes são os nossos posts mais recentes:</p>

        <div class="mb-8 text-center">
            <a href="{{ url_for('main.novo_post') }}" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300">
                Criar Novo Post
            </a>
        </div>

        <div class="space-y-6">
            {% for post in posts %}
                <div class="bg-white p-6 rounded-lg shadow-md flex justify-between items-center">
                    <div>
                        <h2 class="text-2xl font-semibold hover:text-blue-600 transition duration-300">
                            <a href="{{ url_for('main.show_post', post_id=post.id) }}">
                            {{ post.titulo }}
                            </a>
                        </h2>
                        <p class="text-sm mt-2 text-gray-600">Por: {{ post.autor }}</p>
                    </div>
                    <form action="{{ url_for('main.delete_post', post_id=post.id) }}" method="POST">
                        <button type="submit" class="text-red-600 hover:text-red-800 transition duration-300">
                            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z"/>
                            </svg>
                        </button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>